<div container #container>

	<div class="row1">
		<mat-checkbox [checked]="use_shadow" (change)="updateUseShadow($event.checked)">Use Shadow</mat-checkbox>


		<mat-select placeholder="Color map" (selectionChange)="updateColorMapPreset($event.value)" [(ngModel)]="preset_color" >
		    <mat-option *ngFor="let color of colorOptions" [value]="color">
		      {{ color }}
		    </mat-option>
		</mat-select>
	</div>

	<div class="row1">
		<div>
			<span>Spacing</span>
			<mat-slider [(ngModel)]="space_value" min="0" max="1" value="0.4" step="0.01" (input)="updateSpacing($event.value)"></mat-slider>
		</div>


		<div>
			<span>Contract</span>
			<mat-slider [(ngModel)]="edge_value" min="0" max="1" value="0.2" step="0.01" (input)="updateEdgeGradient($event.value)"></mat-slider>
		</div>

	</div>
	
	
</div>
