<div #container1 class="main-container">
	<div class="control-container" >

		<div class="container1">

			 <mat-checkbox [checked]="true" (change)="$event.checked==true ? uiCtrl.enable() : uiCtrl.disable()">Enable Volume Viewer</mat-checkbox>
			 
			 <mat-checkbox [checked]="true" (change)="$event.checked==true ? sliceCtrl.enable() : sliceCtrl.disable()">Enable Slicing</mat-checkbox>

		</div>

		<mat-list-item>
			<div class="header">UI View Controller</div>
			<volume-control [height]="200" [width]="controlWidth" #uiCtrl></volume-control>
		</mat-list-item>

		<mat-list-item>
			<div class="header">Multi Slice Controller</div>
			<volume-slicer  #sliceCtrl></volume-slicer>	
		</mat-list-item>
		
	</div>


	<div class="render-container">
		<div class="renderview">
			<volume-viewer  [file]="file" [vCtrl]="uiCtrl" [sliceCtrl]="sliceCtrl"></volume-viewer>
		</div>
	</div>
	
</div>