.main-container {
	display: flex;
	flex-wrap:nowrap;
}

.control-container {
	min-width: 33.333%;
}


.render-container {
	flex-grow:1;
	height: 600px;

}

.renderview {
	height: 100%;
}

.container1 {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.container1 > * { 
	padding: 1.5em 0em;
	padding-right: 1em;
 }

.header {
	padding: 0.5em 0.75em;
	background-color:grey;
	color:white;
}