
 <mat-list-item>
	<div class="header">Selected Points</div>
 </mat-list-item>

 <mat-list-item class="point-container">
 	Seed A =
 	{{ seedValues[0] ? seedString(seedValues[0]) : 'n/a' }}
 	<button mat-icon-button color="warn" (click)="removeSeed(seedValues[0])">
		<mat-icon aria-label="remove point A">delete</mat-icon>
	</button>
 </mat-list-item>


 <mat-list-item class="point-container">
 	Seed B =
 	{{ seedValues[1] ? seedString(seedValues[1]) : 'n/a' }}
 	<button mat-icon-button color="warn" (click)="removeSeed(seedValues[1])">
		<mat-icon aria-label="remove point B">delete</mat-icon>
	</button>
 </mat-list-item>

 <!--

  <mat-list-item>
	<div class="header">Sphere Point Radius</div>
 </mat-list-item>
-->
  <mat-list-item>
 	Point Radius
 	<mat-slider [(ngModel)]="pointRadius" (input)="updatePointRadius($event.value)" #slideCL min="0.01" max="1" step="0.01"></mat-slider>
 </mat-list-item>
