<div #container1 class="main-container">
	<div class="control-container" >

		<seed-control #segCtrl [inScreen]="viewer.screenRenderer" [source]="viewer.sourceData.getValue()" [slicer]="sliceCtrl" (seedValues)="imageSeeder.seedValues=$event" ></seed-control>

		<mat-list-item>
			<div class="header">Multi Slice Controller</div>
			<volume-slicer  #sliceCtrl></volume-slicer>	
		</mat-list-item>

		<image-seeder #imageSeeder="ImageSeeder" [outScreen]="viewer2.screenRenderer" [file]="file"></image-seeder>
	
	

	</div>

	<div class="render-container">

		<div class="renderview" >

			<volume-viewer #viewer [file]="file" [vCtrl]="uiCtrl" [sliceCtrl]="sliceCtrl"></volume-viewer>
		</div>
		<div class="renderview" >

			<volume-viewer #viewer2></volume-viewer>
		</div>

		<!--
		<mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="selectedIndex=$event.index">
		  <mat-tab label="Point Selection">
		  </mat-tab>
		  <mat-tab label="Image Seeded View">
		  </mat-tab>
		</mat-tab-group>



		<div class="renderview" [ngClass]="selectedIndex==0 ? 'showViewer' : 'hideViewer' ">

			<volume-viewer #viewer [file]="file" [vCtrl]="uiCtrl" [sliceCtrl]="sliceCtrl"></volume-viewer>
		</div>
		<div class="renderview" [ngClass]="selectedIndex==1 ? 'showViewer' : 'hideViewer' ">

			<volume-viewer #viewer2></volume-viewer>
		</div>
		-->
	</div>
	
</div>