.main-container {
	display: flex;
	flex-wrap:nowrap;
}

.control-container {
	min-width: 33.333%;
}


.render-container {
	display:flex;
	flex-grow:1;
	height: 600px;
	position: relative;
	background-color: white;
	justify-content: space-around;

}



.renderview {
	width: 49%;
	height: 100%;
}


.header {
	padding: 0.5em 0.75em;
	background-color:grey;
	color:white;
	width: 100%;
}


.hideViewer {
	position: absolute;
	visibility: hidden;
}

.showViewer {
	position: absolute;
	visibility: visible;
}