
.view-container {
	width: 100%;
	position: relative;
}

.view-container  > * {
	width: 100%;
}

.hideViewer {
	position: absolute;
	visibility:hidden;
	opacity: 0;
}

.showViewer {
	position: absolute;
	visibility: visible;
	opacity: 1;
}