


<div>
 <button mat-raised-button (click)="chooseFile()">Select file</button>
 <input placeholder="file name" matInput readonly="true" [value]="file?.name" >
</div>


<mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="selectedIndex=$event.index">
  <mat-tab label="Image Viewer and Slicer">
  </mat-tab>
  <mat-tab label="Image segmentation">
  </mat-tab>
  <mat-tab label="Image Seeding">
  </mat-tab>
</mat-tab-group>


<div class="view-container">
	<viewer-slicer [ngClass]="selectedIndex==0 ? 'showViewer' : 'hideViewer'" [file]="file"></viewer-slicer>

	<segment-viewer  [ngClass]="selectedIndex==1 ? 'showViewer' : 'hideViewer'" [file]="file"></segment-viewer>

	<seed-viewer  [ngClass]="selectedIndex==2 ? 'showViewer' : 'hideViewer'" [file]="file"></seed-viewer>
</div>


  	



