<mat-list>
 <mat-list-item>
 	Threshold
 	<mat-slider [(ngModel)]="segmentValue" (input)="segmentValue=$event.value" (change)="updateSegment($event.value)" #slideSeg min="100" max="800" step="1"></mat-slider>

 	{{segmentValue}}

 </mat-list-item>

</mat-list>