<mat-list>
 <mat-list-item>
 	Slice I
 	<mat-slider (input)="updateSlide('i',$event)" #slideI min="0" max="5" step="1" value="1"></mat-slider>
 </mat-list-item>
 <mat-list-item>
 	Slide J
 	<mat-slider (input)="updateSlide('j',$event)" #slideJ min="0" max="5" step="1" value="1"></mat-slider>
 </mat-list-item>
 <mat-list-item>
 	Slice K
 	<mat-slider (input)="updateSlide('k',$event)" #slideK min="0" max="5" step="1" value="1"></mat-slider>
 </mat-list-item>
 <mat-list-item>
 	Color level
 	<mat-slider (input)="updateCL($event)" #slideCL min="0" max="5" step="1" value="1"></mat-slider>
 </mat-list-item>
 <mat-list-item>
 	Color Window
 	<mat-slider (input)="updateCW($event)" #slideCW min="0" max="5" step="1" value="1"></mat-slider>
 </mat-list-item>
</mat-list>
