<div #container1 class="main-container">
	<div class="control-container" >

		<segment-control #segCtrl [file]="file" [screenRenderer]="viewer.screenRenderer" ></segment-control>
	</div>


	<div class="render-container">
		<div class="renderview">
			<volume-viewer #viewer ></volume-viewer>
		</div>
	</div>
	
</div>